{% extends "main.html" %}
{% load static %}
{% block content %}


<div class="container my-4">
    <h2>Cambiar Clave</h2>
    <!-- Seccion de Mensajes -->

    <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body">
            <form action="{% url'profile_password_change'%}" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="old_password">Contraseña actual</label>
                    <input class="form-control"type="password" name="old_password" id="old_password">

                </div>

                <div class="mb-3">
                    <label for="new_password1">Nueva Contraseña</label>
                    <input class="form-control"type="password" name="new_password1" id="new_password1">

                </div>

                <div class="mb-3">
                    <label for="new_password2">Confirmar Nueva Contraseña</label>
                    <input class="form-control"type="password" name="new_password2" id="new_password2">
                </div>

                <input class="btn btn-primary" type="submit" value="Cambiar Contraseña" {% if password_changed%}disabled{% endif %}>
            </form>
         
        </div>
      </div>

</div>



{% endblock %}