{% extends 'main.html' %}

{% load static %}
{% block content %}

<div class="container">

  <!-- FORMULARIO DE FILTRO DE PRODUCTOS POR TIPO -->

  <form class="g-3" method="POST" action=".">{% csrf_token %}
    <div class="row">
      <div class="col-auto">
        <select class="form-select" aria-label="Default select example" name="tipo">
          {% for tipo in tipos %}
          <option value="{{tipo.id_sub_tipo_producto}}">{{tipo.nombre_sub_tipo_producto}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row my-4 mx-5 px-5">
      <div class="col-auto">
        <input type="hidden" name="action" value="filter">
        <button type="submit" class="btn btn-primary mb-3">BUSCAR</button>
      </div>
    </div>
  </form>
</div>

<!-- LISTADO DE PRODUCTOS -->
<div class="row">
  {% for product in products %}
  <div class="card m-4" style="width: 19rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.nombre_producto}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">${{product.precio}}</h6>
      <p class="card-text"><img src={{product.imagen}} width="220px"></img></p>
      <form class="g-3" method="POST" action=".">{% csrf_token %}
        <input type="hidden" name="action" value="add_carts">
        <button type="submit" class="btn btn-primary mb-3">ADD</button>
        <button type="submit" class="btn btn-primary mb-3">REMOVE</button>
        <input type="text" hidden name="id_producto" value="{{product.id_producto}}">
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}