{% extends 'main.html' %}

{% load static %}
{% block content %}

  agregar contenido de cervezas

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Precio
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">
        <label for="customRange1" class="form-label">rango de precio</label>
        <input type="range" class="form-range" id="customRange1">
      </a>
    </div>
  </div>

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tipo
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Rubia</a>
      <a class="dropdown-item" href="#">Roja</a>
      <a class="dropdown-item" href="#">Blanca</a>
      <a class="dropdown-item" href="#">Cafe</a>
      <a class="dropdown-item" href="#">Negra</a>
    </div>
  </div>
    {% endblock %}