{% extends 'main.html' %}

{% load static %}
{% block content %}
<?php
    function conectar()
    {
        $x = new sqlsrv(
            "Direción IP",
            "User", "ABC.12345!", "B. Datos"
        )
        if($x->connection_aborted)
        {
            die("Error: ".$x->sqlsrv_connect_errno().$x->sqlsrv_connect:error());
            exit;
        }
        return $x;
    }
?>">
    <div class="row">
        {% for product in products %}
        <div class="card m-4" style="width: 19rem;">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}