{% extends 'main.html' %}

{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="card m-4" style="width: 19rem;">
            <div class="card-body">
            <h5 class="card-title">{{product.nombre_producto}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{product.precio}}</h6>
            <p class="card-text"><img src={{product.imagen}}></img></p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}