{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Los gatos</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container mt-2">
        <nav class="navbar navbar-expand-lg my-4 border-bottom">
            <div class="container-fluid">    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-2">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/" style="font-size: 3.2em"><i class="bi bi-house"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/bebidas">Bebidas</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav  mx-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/destilados">Destilados</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/vinos">Vinos</a>
                        </li>
                    </ul>                    
                    <ul class="navbar-nav mx-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/espumantes">Espumantes</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav  mx-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/cervezas">Cervezas</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/otros">Otros</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-2">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/carts" style="font-size: 3.2em"><i class="bi bi-cart4"></i></a>
                        </li>
                    </ul>                                        
                    <a class="navbar-brand btn btn-outline-info mx-4" href="/login" >LOGIN</a>

                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
  
        <footer class="footer container">
            <hr />
            <div class="footer-txt">
                <img src="{% static 'images/logo.jpg' %}" alt="" />
                <div class="links">
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=61553099828052" class="logo"><img src="{% static 'images/s1.svg' %}" alt="" /></a>
                        <a href="https://www.instagram.com/los_gatos_ecommerce/" class="logo"><img src="{% static 'images/s2.svg' %}" alt="" /></a>
                        <a href="https://www.linkedin.com/in/los-gatos-ecommerce/" class="logo"><img src="{% static 'images/s3.svg' %}" alt="" /></a>
                    </div>
                    <p>@Los_Gatos</p>
                </div>
            </div>
        </footer>

        <script src="{% static 'jquery/jquery.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'popper/popper.min.js' %}"></script>
    </div>
</body>

</html>