{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Los gatos</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap/icons/bootstrap-icons.css' %}">

</head>

<body>
  <header>
    <!-- NAVBAR MENU-->
    <figcaption class="figure-caption text-center">{{user.username}}</figcaption>
    <figcaption class="figure-caption text-center">{{user.is_authenticated}}</figcaption>

    <nav class="navbar navbar-expand-lg my-4 border-bottom">
        <div class="container-fluid">    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-2">
                    <li class="nav-item">
                        <a class="dropdown-item" href="/" style="font-size: 3.2em"><i class="bi bi-house"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/bebidas">Bebidas</a>
                    </li>
                </ul>
                <ul class="navbar-nav  mx-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/destilados">Destilados</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/vinos">Vinos</a>
                    </li>
                </ul>                    
                <ul class="navbar-nav mx-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/espumantes">Espumantes</a>
                    </li>
                </ul>
                <ul class="navbar-nav  mx-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/cervezas">Cervezas</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/otros">Otros</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-2">
                    <li class="nav-item">
                        <a class="dropdown-item" href="/carts" style="font-size: 3.2em"><i class="bi bi-cart4"></i></a>
                    </li>
                </ul>
                <ul>
                  <li>
                  <!--LOGIN BUTTON -->
                    {% if user.is_active %}
                    <form action="/login/">
                        <button class="btn btn-outline-danger ml-auto bi bi-person-circle" type="submit">Cerrar sesion</button>
                    </form>
                    {% else %}
                    <form action="/login/">
                      <button class="btn btn-outline-success ml-auto bi bi-person-circle" type="submit">Login</button>
                  </form>
                  {% endif %}
                  </li>
                </ul>                                        
            </div>
        </div>         
    </div>
  </header>
  <main>{% block content %}{% endblock %}</main>
  <footer class="footer container">
    <hr />
    <div class="footer-txt">
        <img src="{% static 'images/logo.jpg' %}" alt="" />
        <div class="links">
            <div class="socials">
                <a href="https://www.facebook.com/profile.php?id=61553099828052" class="logo"><img src="{% static 'images/s1.svg' %}" alt="" /></a>
                <a href="https://www.instagram.com/los_gatos_ecommerce/" class="logo"><img src="{% static 'images/s2.svg' %}" alt="" /></a>
                <a href="https://www.linkedin.com/in/los-gatos-ecommerce/" class="logo"><img src="{% static 'images/s3.svg' %}" alt="" /></a>
            </div>
            <p>@Los_Gatos</p>
        </div>
    </div>
</footer>
  <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/popper/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>