{% extends 'main.html' %}

{% load static %}
{% block content %}

  agregar contenido de otros


  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Precio
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">
        <label for="customRange1" class="form-label">rango de precio</label>
        <input type="range" class="form-range" id="customRange1">
      </a>
    </div>
  </div>

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tipo
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Brut</a>
      <a class="dropdown-item" href="#">Cavernet sauvignon</a>
      <a class="dropdown-item" href="#">Carmenere</a>
      <a class="dropdown-item" href="#">Demi sec</a>
      <a class="dropdown-item" href="#">Late harvest</a>
      <a class="dropdown-item" href="#">Merlot</a>
      <a class="dropdown-item" href="#">Moscato</a>
      <a class="dropdown-item" href="#">Petit verdot</a>
      <a class="dropdown-item" href="#">Pinot noir</a>
      <a class="dropdown-item" href="#">Rose</a>
    </div>
  </div>
    {% endblock %}